body {
  margin:10px 10px;
  height: 100%;
}
p,li {
  font-family: 'Arial';
  font-size: 14px;
}
.hr {
  width: 100%;
  height: 0.5px;
  margin-bottom: 30px;
}
.head{
  margin-bottom: 10px;
  height: 20vh;
}
.one{
  margin-right: 10px;
  float: left;
  width: 10%;
    height: 20vh;
  background-color: red
}
.two{
  margin-right: 10px;
  float: left;
  width: 25%;
  height: 20vh;
  background-color: green
}
.three{
  float:left;
  width: 61%;
  height: 20vh;
  background-color: black
}
.clear{
  clear: both;
}
.content-left {
  margin-right: 20px;
  float: left;
  width: 13%;

}
.left-info {
  height: 47vh;
  padding-left: 10px;
  width: 100%;
  background-color: yellow;
  margin-bottom: 200px
}
.left-empty {
  width: 100%;
  background-color: red;
  height: 16.5vh;
}
.left-info p {
  width: 100%;
  padding-bottom: 20px;
}

.content-right {
  float: left;
  width: 80%;
}
.info-right {
  padding: 10px;
  width: 100%;
  height: 40vh;
  background-color: blue;
}
.blocks-right {
  float: left;
  width: 100%;
  padding-top: 30px;
}

.block {
  margin-right: 10px;
  float: left;
  width: 19.1%;
  height: 10vh;
  background-color: orange;
  margin-bottom: 30px;
}

.bottom-right {
  float: left;
  width: 100%;
}
.first-bottom-right {
  margin-right: 10px;
  float: left;
  width: 48.8%;
  height: 20vh;
  background-color: pink;
  margin-bottom: 0;
}
.second-bottom-right {
  margin-right: 10px;
  float: left;
  width: 48.8%;
  height: 20vh;
  background-color: pink;
  margin-bottom: 0;
}
.footer {
  float: left;
  width: 100%;
}
.first-footer-block {
  margin-right: 10px;
  float: left;
  width: 30%;
  min-height:20vh;
  background-color: violet;
}
.first-footer-block ul{
  list-style: none;
}
.second-footer-block {
  margin-right: 10px;
  float: left;
  width: 30%;
  min-height: 20vh;
  background-color: violet;
  padding-left: 30px;
}
.third-footer-block {
  float: left;
  width: 30%;
}
.p1 {
  margin-top: 0;
  margin-right: 10px;
  width: 100%;
  height: 9vh;
  background-color: violet;
}
.p2 {
  margin-right: 10px;
  width: 100%;
  height: 9vh;
  background-color: violet;
}

.item {
  width: 30%;
  margin: 0;
  padding-left: 20px;
  float: left;
}
