@media only screen and (max-width: 600px){
.main-container {
  display: flex;
  flex-direction: column;
}
}
p,li {
  font-family: 'Arial';
  font-size: 14px;

}
.head {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  height: 10vh;
}
.border{
  border: 1px solid black;
  margin-bottom: 1%;
}
.one {
  margin-right: 1%;
  flex-grow: 1;
  background-color: red
}
.two {
  margin-right: 1%;
  flex-grow: 2;
  background-color: green
}
.three {
flex-grow: 3;
background-color: black
}
.content {
  display: flex;
  margin-bottom: 1%;
  width: 100%;
}
.content-left {
     flex-grow: 4;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-info {
  box-sizing: border-box;
   padding: 2%;
background-color: yellow;
margin-bottom: 200px
}
.left-empty {
  background-color: red;
  height: 15vh;
}
.content-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info-right {
  box-sizing: border-box;
   padding: 1%;
  flex-grow: 1;
min-height: 30vh;
background-color: blue;
}
.blocks-right {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.block {
  margin-top: 1%;
  margin-right: 1%;
  width: 19%;
  height: 25vh;
  background-color: orange;
}
.block5 {
    margin-top: 1%;
  width: 20%;
  height: 25vh;
  background-color: orange;
}
.bottom-right {
  display: flex;
  flex-wrap: wrap;
}
.first-bottom-right {
  box-sizing: border-box;
   padding: 1%;
  margin-right: 1%;
  width: 49%;
  min-height: 20vh;
  background-color: pink;
    margin-bottom: 0;
}
.second-bottom-right {
  box-sizing: border-box;
   padding: 1%;
  width: 50%;
  min-height: 20vh;
  background-color: pink;
  margin-bottom: 0;
}

.footer {
  width: 100%;
  display: flex;
}
.first-footer-block {
  min-height: 15vh;
  margin-right: 1%;
  flex-grow: 2;
  background-color: violet;
  display: flex;
}
.first-footer-block ul {
  list-style: none;
}
.second-footer-block {
  box-sizing: border-box;
  padding: 1%;
  margin-right: 1%;
  flex-grow: 2;
  background-color: violet;
  min-height: 15vh;
}
.third-footer-block {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
  justify-content: space-between;
}
.p1 {
  margin-top: 0;
  min-height: 15vh;
  background-color: violet;
  margin-bottom: 1%;
}
.p2 {
  min-height: 15vh;
  background-color: violet;
  margin-bottom: 0;
}
